h1 {
  color:rgb(205, 214, 244);
    text-align: center;
  }
  
  .display {
    display: flex;
    justify-content: center;
    border-top: 7px solid rgb(17, 17, 27);
    border-bottom: 7px solid rgb(17, 17, 27);
  }
  
  .column {
    width: 18%;
    padding: 25px 0px;
  }
  
  .images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
  }
  
  .songs p {
    /* color: rgb(205, 214, 244); */
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
  }

  iframe {
    height: 100px;
  }
  
 p {
    color: rgb(205, 214, 244);
    
 }


  .artists p {
    /* color: rgb(205, 214, 244); */
    font-size: 18px;
    height: 100px;
    margin: 20px;
  }
  
  .lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
  }
  
  .links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    color: rgb(203, 166, 247);
  }
  
  .form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
  
  input {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  button {
    font-size: 14px;
    padding: 5px 10px;
  }

  body {
    background-color: rgb(30, 30, 46);
  }